#wix {
Position: fixed;
Top: 0;
Width: 100vw;
Height: 6vh;
Background-color: white;
Box-shadow: 1px 1px 12px 3px #BBBBBB;
padding: 2.5vh 5vw;
text-align: left;
}

.logo{
    height: 5vh;
    width: 7vw;

}
.icon{
    height: 6vh;
    width: 5vw;
    background-image: url("icon.jpg");
    background-size: 100% 100%;
}


#toolbar {
font-family: sans-serif;
font-size: 1.2vw;
font-weight: 400;
position: fixed;
top: 6vh;
left: 10vw;
width: 80vw;
height: 7vh;
padding: 5vh 1vw;
background-color: white;
text-align: left;
}

.toolbarhead{
    font-size: 2.8vw;
    font-family: serif;
    font-weight: 500;
}

#toolbartext{
    float: left;
    font-weight: 400;
}

#toolbarlinktab{
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: 400;
    bottom: 3vh;

}

.toolbarlink{
    float: right;
    margin-left: 2.5vw;
    text-decoration: none;
    color: black;
}

.wixlink{
    text-decoration: whitesmoke;
    color: whitesmoke;
    font-family: sans-serif;
    
    
}

#welcome{
    background-image: url("keto.jpg");
    background-size: 100% 100%;
    width: 100vw;
    height:100vh;
    background-attachment: fixed;
}

#welcometext{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 3vw;
    font-weight: 650;
    font-family: sans-serif;
    color: whitesmoke;

}

.shop{
    height: 3vh;
    padding: 1vh;
    border: 2px solid whitesmoke;
    width: 10vw;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;


}
.shop:hover{
    background-color: whitesmoke;
    color: #107070;
}


#pictures2 {
line-height: 1.5;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
align-items: flex-end;
height: 80vh;
}

#followme{
    height: 20vh;
    text-align: center;
    width: 100vw;
}

#follow{
    text-align: center;
    font-size: 2vw;
    color: #107070;
    font-family: sans-serif;
    
}

.pictures {
width: 18vw;
height: 36vh;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;

}
.pictures:hover{
    opacity: 0.5;
}

#gridContainer {
    display: grid;
    position: relative;
    width: 80vw;
    height: 300%;
    grid-gap: 5vh 5vh;
    grid-template-columns: 50vw 25vw;
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
    font-family: sans-serif;
    margin: auto;
    padding: 10vw;

}

.gridItem1 {
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.gridpic {
    height: 50vh;
    width: 25vw;
}

.gridItemtxt {
    width: 25vw;
    height: 50vh;
    padding: 2vw;

}

.comment{
    border: 2px solid grey; 
    border-right-width: 0px; 
    border-left-width: 0px; 
    border-bottom: 0px;
    width: 15vw;
    height: 5vw;
    text-align: center; 
    font-family: sans-serif;
    font-size: 1.3vw;
    font-weight: 350;
    color: grey;
                    
}
.heart{
    width: 3vw;
    height: 5vh;
}

.gridItem2 {
    grid-column: 2 / 3;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.gridItem3 {
    grid-column: 2 / 3;
    background-color: #dae5ed;
    display: flex;
    flex-direction: column;
}

.box1 {
    width: 25vw;
    height: 20vh;
    background-color: #107070;
    font-family: sans-serif;
    font-size: 1.8vh;
    color: whitesmoke;
    text-align: center;


}
.media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.box2 {
    width: 25vw;
    height: 28vh;
    background-color: white;
}
.person {
    width: 2.5vw;
    height: 4vh;
}

#newsletter{
    height: 35vh;
    text-align: center;
    font-size: 2vw;
    color: #107070;
    font-family: sans-serif;
}
.subscribefield{
    width: 20vw;
    height: 4vh;
    border: 2px solid #107070;
    border-radius: 0;
    padding: 0.5vh;
    font-family: sans-serif;
    font-size: 1.5vw;

}
.subscribebutton{
    text-decoration: none;
    height: 12vh;
    width: 15vw;
    background-color: #107070;
    color: whitesmoke;
    padding: 1.2vh;
    font-size: 1.5vw;
    background-origin: padding-box;
    font-family: sans-serif;
}

#copyright{
    background-color: #107070;
    height: 4vh;
    width: 100vw;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 1.5vh;
    margin: 0;
    font-size: 2vh;
    position: relative;
    right: 1vw;
    top: 0.5vh;

}

@media only screen and (max-width: 768px) {
    #gridContainer {
        grid-template-columns: 75vw;
    }
  }

body {
    overflow-y: scroll;
    Background-color: #dae5ed;
    overflow-x: hidden;
    padding: 0vh;
    width: 100vw;
    margin: 0vw;
    margin: auto;
}
